.*
.*/
*.log
!.bash_aliases
!.bashrc
!.gitconfig
!.gitignore
!.gitignore_global
!.profile

!.tmux.conf
!.tmux/
.tmux/*
!.tmux/tmux/

!.vim/
.vim/*
!.vim/config/
!.vimrc

mydoc/
mygames/
node_modules/
vsdbg/
yarn.lock
