.*/
.aws
.azure
.bash_history
.bash_logout
.fishrc
.lesshst
.motd_shown
.python_history
.rcc
.ssh-agent
.sudo_as_admin_successful
.viminfo
.wget-hsts
dotnet_install/
mydoc/
mygame/
node_modules/
tmux-client-2119.log
vsdbg/
yarn.lock
