[user]
	name = Kasshi_K
	email = kasshi.4259.b.b@gmail.com
[alias]
	st = status
	co = commit
	fadd = !fgadd
	br = branch
[core]
	editor = vim
	excludesfile = /home/kasshi_k/.gitignore_global
[ghq]
    root = ~/.ghq
[url "github:"]
    InsteadOf = https://github.com/
    InsteadOf = git@github.com:
[fetch]
	prune = true
[init]
	defaultBranch = main
